version: 2
log-file: /tmp/efm.log
log-level: 1
root-markers:
  - .git
tools:
  biome: &biome
    format-command: biome format --config-path ~/.config --stdin-file-path ${INPUT}
    format-stdin: true
  clang-format: &clang-format
    format-command: clang-format --assume-filename ${INPUT}
    format-stdin: true
  cspell: &cspell
    lint-command: cspell --no-summary --no-progress stdin://${INPUT}
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c - %m"
  gherkin-format: &gherkin-format
    format-command: gherkin-format
    format-stdin: true
  oxfmt: &oxfmt
    format-command: oxfmt --stdin-filepath '${INPUT}'
    format-stdin: true
  pen-format: &pen-format
    format-command: pen format --stdin
    format-stdin: true
  schemat: &schemat
    format-command: schemat
    format-stdin: true
  shfmt: &shfmt
    format-command: shfmt -i 2 -s
    format-stdin: true
  tex-fmt: &tex-fmt
    format-command: tex-fmt -s
    format-stdin: true
languages:
  bib:
    - <<: *tex-fmt
  cucumber:
    - <<: *gherkin-format
  json:
    - <<: *oxfmt
  jsonc:
    - <<: *oxfmt
  lisp:
    - <<: *schemat
  markdown:
    - <<: *oxfmt
  markdown.mdx:
    - <<: *oxfmt
  pen:
    - <<: *pen-format
  proto:
    - <<: *clang-format
  scheme:
    - <<: *schemat
  scss:
    - <<: *oxfmt
  sh:
    - <<: *shfmt
  tablegen:
    - <<: *clang-format
  tex:
    - <<: *tex-fmt
  wat:
    - <<: *schemat
  yaml:
    - <<: *oxfmt
  zsh:
    - <<: *shfmt
  =:
    - <<: *cspell
