name: test
on:
  - push
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-latest
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: sh -ec "if [ -r ~/.profile ]; then . ~/.profile; fi && . {0}"
    steps:
      - uses: actions/checkout@v6
      - run: |
          sudo apt -y remove ^dotnet-* ^ghc-* ^google-* ^php*
          auto apt -y autoremove
        if: runner.os == 'Linux'
      - run: cp profile ~/.profile
      - run: cp -r . ~/.dotfiles
      - run: ~/.dotfiles/local/bin/update-homebrew
      - run: rcup -f
      - run: update
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
